/* Allgemeines Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f4ff; /* Hellblau als Hintergrund */
}

/* Container-Styling */
.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* Fixierter Kopfbereich */
.search-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-bottom: 2px solid #007bff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo-Styling */
.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

/* Titel */
h1 {
    font-size: 24px;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.app-title {
    text-decoration: none;
    color: #ff0000;
    transition: color 0.3s ease;
}

.app-title:hover {
    color: #007bff;
}

/* Eingabefelder und Button */
input, select, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 90%;
    max-width: 300px;
    margin: 10px auto;
    display: block;
    background: white;
}

input:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

button:hover:enabled {
    background: #0056b3;
}

/* Ergebnisse */
#results {
    margin-top: 20px;
}

.result-card {
    text-align: center;
    padding: 10px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #f0f4ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #007bff;
}

.result-card h2 {
    font-size: 18px;
    font-weight: bold;
}

.result-card p span {
    font-weight: bold;
}
